#{extends 'main.html' /}
#{set title:'Users' /}
#{set pageName:'users' /}

<table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            #{list items:users, as:'u'}
                <tr>
                    <td>${u.id}</td>
                    <td>${u.email}</td>
                    <td>
                    	<a href="@{Users.remove(u.id)}">remove</a> | 
                    	<a href="#" onclick="javascript:edit_user(${u.id})">edit</a> |
                    	<a href="@{Users.detail(u.id)}">detail</a>
                    </td>
              	</tr>
            #{/list}
        </tbody>
    </table>
    