#{extends 'main.html' /}
#{set title:'Hunt' /}
#{set pageName:'huntDetail' /}

%{def isOrganizer = user != null && user.id == hunt.organizer.user.id }%

<div>
	<h2>Organizer: ${hunt.organizer.user.email}</h2>
</div>
<div>
	<h2>Type: ${hunt.huntType.label}</h2>
</div>
<div>
	<h2>Status: ${hunt.huntStatus.label}</h2>
</div>
	
<div>
	<h2>Players</h2>
	#{playersTable players:hunt.players /}
    #{if isOrganizer}
    <p><a id="add_user_btn" class="btn btn-create" href="#">Invite Player</a></p>
    #{/if}
</div>
<div>
	<h2>Targets</h2>
	#{targetsTable targets:hunt.targets /}
	#{if isOrganizer}
    <p><a id="add_target_btn" class="btn btn-create" href="#">+ Add Target</a></p>
    #{/if}
</div>

<div>
    <p><a href="@{Hunts.detailPDF(hunt.id)}">PDF</a></p>
</div>

#{if isOrganizer}
<div>
	<h2>Invitations</h2>
	#{invitationsTable invitations:hunt.invitations /}
</div>
#{/if}

<!-- Target add/edit modal -->
<div id="target_modal" class="modal hide fade edit_add_modal">
    <div class="modal-body">
    #{form @HuntsSecured.saveTarget(), id:'target_form', class:'form-horizontal'}
    	<input type="hidden" name="hunt.id" id="hunt_id" value="${hunt.id}" />
        <input type="hidden" name="target.id" id="target_id" value="" />

        <fieldset>
            <legend id="modal_legend">Create a new target</legend>

            <div class="control-group">
                <label class="control-label" for="input-description">Name</label>
                <div class="controls">
                    <input type="text" name="target.description" class="input-xlarge" id="input-description">
                </div>
            </div>
        </fieldset>
    #{/form}
    </div>
    <!-- dialog buttons -->
    <div class="modal-footer">
        <a href="#" id="target_ok_button" class="btn btn-success">Create</a>
        <a href="#" class="btn btn-cancel">Cancel</a>
    </div>
</div>


<!-- Person add/edit modal -->
<div id="user_modal" class="modal hide fade edit_add_modal">
    <div class="modal-body">
    #{form @HuntsSecured.inviteUser(), id:'user_form', class:'form-horizontal'}
    	<input type="hidden" name="hunt.id" id="hunt_id" value="${hunt.id}" />

        <fieldset>
            <legend id="user_modal_legend">Create a new target</legend>

            <div class="control-group">
                <label class="control-label" for="input-email">Email</label>
                <div class="controls">
                    <input type="text" name="user.email" class="input-xlarge" id="input-email">
                </div>
            </div>
        </fieldset>
    #{/form}
    </div>
    <!-- dialog buttons -->
    <div class="modal-footer">
        <a href="#" id="user_ok_button" class="btn btn-success">Create</a>
        <a href="#" class="btn btn-cancel">Cancel</a>
    </div>
</div>
    