#{extends 'main.html' /}
#{set title:'Hunts' /}
#{set pageName:'hunts' /}

<table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            #{list hunts, as:'h'}
                <tr>
                    <td>${h.id}</td>
                    <td>${h.description}</td>
                    <td><a href="@{Hunts.detail(h.id)}">detail</a> | <a href="@{Hunts.remove(h.id)}">remove</a> | <a href="#" onclick="javascript:edit_hunt(${h.id})">edit</a></td>
              	</tr>
            #{/list}
        </tbody>
    </table>

    <a class="btn btn-create" href="#">+ Add Hunt</a>

<div id="myModal" class="modal hide fade">
    <div class="modal-body">
    #{form @Hunts.save(), class:'form-horizontal'}

        <input type="hidden" name="hunt.id" id="hunt_id" value="" />

        <fieldset>
            <legend id="modal_legend">Create a new hunt</legend>

            <div class="control-group">
                <label class="control-label" for="input-description">Description</label>
                <div class="controls">
                    <input type="text" name="hunt.description" class="input-xlarge" id="input-description">
                </div>
            </div>
        </fieldset>
    #{/form}
    </div>
    <!-- dialog buttons -->
    <div class="modal-footer">
        <a href="#" id="ok_button" class="btn btn-success">Create</a>
        <a href="#" class="btn btn-cancel">Cancel</a>
    </div>
</div>
    