#{extends 'main.html' /}
#{set title:'Hunts' /}
#{set pageName:'hunts' /}

#{huntsTable hunts:hunts, user:user /}

#{if user != null}
    <a class="btn btn-create" href="#">+ Add Hunt</a>
#{/if}

<div id="myModal" class="modal hide fade">
    <div class="modal-body">
    #{form @HuntsSecured.save(), class:'form-horizontal'}

        <input type="hidden" name="hunt.id" id="hunt_id" value="" />

        <fieldset>
            <legend id="modal_legend">Create a new hunt</legend>

            <div class="control-group">
                <label class="control-label" for="input-description">Description</label>
                <div class="controls">
                    <input type="text" name="hunt.description" class="input-xlarge" id="input-description">
                </div>
         	</div>
         	
         	<div class="control-group">
                <label class="control-label" for="input-description">Type</label>
                <div class="controls">
                    <select name="hunt.huntType" id="input-huntType">
                        #{list items:models.Hunt.HuntType.values(), as:'huntType'}
                        <option value="${huntType}">${huntType}</option>
                    #{/list}
                </select>
                </div>
            </div>
            
        </fieldset>
    #{/form}
    </div>
    <!-- dialog buttons -->
    <div class="modal-footer">
        <a href="#" id="ok_button" class="btn btn-success">Create</a>
        <a href="#" class="btn btn-cancel">Cancel</a>
    </div>
</div>
    